@model AspnetCoreMvcFull.Models.Entities.Prestation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prestation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prestation1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prestation1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixUnitaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixUnitaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPrestation1Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPrestation1Navigation.IdPrestation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTypeTravauxNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTypeTravauxNavigation.IdTypeTravaux)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUniteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUniteNavigation.IdUnite)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPrestation">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
